{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('open_election') }}">
    <table>
        <tr>
            <td>
                {{ form.year.label }}
            </td>
            <td>
                {{ form.year }}
            </td>
            <td>
                <ul>
                    {% for error in form.year.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Open a new election" />
            </td>
        </tr>
    </table>
</form>
{% endblock %}
